body {
  /* text-align: center; */
  background-color: #C39BD3;
}

h1 {
  text-align: center;
}

div {
  text-align: center;
}

section {
  background-color: white;
}

#azx {
  background-color: #C39BD3;
}

#asd {
  background-color: white;
}

#asx {
  background-color: #C39BD3;
}
